<country-search-input
  placeholder="Buscar por capital"
  (inputValue)="query.set($event)"
/>

<!-- @if (isError()) {
<h3>{{ isError() }}</h3>
} @else {
<country-list [countries]="countries()" />

} -->

<!-- @if (countryResource.error()) {
<h3>{{ countryResource.error() }}</h3>
} @if(countryResource.hasValue()) {
<country-list [countries]="countryResource.value()" />
} -->

<country-list
  [countries]="countryResource.value() ?? []"
  [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value()?.length === 0"
  [isLoading]="countryResource.isLoading()"
/>
