<section class="flex flex-grow gap-2 mt-2">
  <input
    type="text"
    class="input input-bordered w-56 mr-2"
    [placeholder]="placeholder()"
    autofocus
    #txtSearch
    (keyup.enter)="onSearch(txtSearch.value)"
  />

  <button class="btn btn-primary" (click)="onSearch(txtSearch.value)">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6"
      />
    </svg>
    Buscar
  </button>
</section>
